<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employees</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
body {background-color: powderblue;}

</style>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Employees</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee: ${listEmployees}">
                <td th:text="${employee.id}">ID</td>
                <td th:text="${employee.name}">Email</td>>
                <td>
                    <a th:href="@{/employee_update/{id}(id=${employee.id})}">Update</a>
                </td>
                <td>
                    <form th:action="@{/employee_delete/{id}(id=${employee.id})}" method="post">
                        <input value="Delete" type="Submit">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form th:action="@{/admin_option}">
            <input type="submit" value="Home" class="btn btn-primary"/>
        </form>
    </div>
</div>
</body>
</html>